
.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(250, 247, 247, 0.7), rgba(239, 232, 232, 0.7)), url("../images/operahouse.jpeg");

background-size: cover;
}

/* Place text in the middle of the image */
.overlay {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.overlay-content {
  padding-left: 12%;
  padding-right: 12%;
}